node red/nodered.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Project 1 Backend","disabled":false,"info":""},{"id":"1c515eef.be1301","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"lgf/project1/neighbours","qos":"1","datatype":"auto","broker":"919c4467.b53d8","x":120,"y":200,"wires":[["85402c5f.1c917"]]},{"id":"39950b5c.7b069c","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"lgf/project1/alert","qos":"1","datatype":"auto","broker":"919c4467.b53d8","x":100,"y":300,"wires":[["e92461bb.690d58"]]},{"id":"85402c5f.1c917","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"","pretty":false,"x":310,"y":200,"wires":[["4e3caab5.f9edb4"]]},{"id":"94cdb94f.0c874","type":"function","z":"f6f2187d.f17ca8","name":"Clear Context","func":"var i;\nfor (i = 0; i < 100; i++) {\n  flow.set(\"\"+i,undefined);\n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":80,"wires":[[]]},{"id":"4e3caab5.f9edb4","type":"function","z":"f6f2187d.f17ca8","name":"Update Neighbours List","func":"var node_id = msg.payload.id;\nvar old_neighbours = flow.get(\"\" + node_id);\nvar new_neighbours = msg.payload.neighbours;\nvar neighbours;\n\nif(old_neighbours == undefined){\n    neighbours = new_neighbours;\n}else{\n    neighbours = old_neighbours.concat(new_neighbours);\n}\n\n//ensure no there are no repeated elements\nfunction onlyUnique(value, index, self) {\n  return self.indexOf(value) === index;\n}\nneighbours = neighbours.filter(onlyUnique);\n\nflow.set(\"\" + node_id, neighbours);\nmsg.payload = neighbours;\nmsg.node_id = node_id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":200,"wires":[["2c2b3a71.f65f96"]]},{"id":"c6b69fed.1068a","type":"inject","z":"f6f2187d.f17ca8","name":"Clear Context","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["94cdb94f.0c874"]]},{"id":"f5d0b49e.e645e","type":"inject","z":"f6f2187d.f17ca8","name":"alert","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\": 4}","payloadType":"str","x":110,"y":380,"wires":[["e92461bb.690d58"]]},{"id":"e2aa0f57.e308f8","type":"function","z":"f6f2187d.f17ca8","name":"Send Alert Messages","func":"var node_id = msg.payload.id;\nvar neighbours = flow.get(\"\" + node_id);\n\nif(neighbours == undefined){\n    return;\n}\n\n\nfor( var i = 0; i < neighbours.length; i++){\n    var topic = \"lgf/project1/\" + neighbours[i];\n    //msg.payload.alertReciever = neighbours[i];\n    msg.topic = topic;\n    msg.payload = node_id;\n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":300,"wires":[["8157a6fb.724df"]]},{"id":"2c2b3a71.f65f96","type":"debug","z":"f6f2187d.f17ca8","name":"Print Neighbours","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Neighbours of \" & msg.node_id &\": \" & msg.payload","targetType":"jsonata","statusVal":"","statusType":"auto","x":790,"y":200,"wires":[]},{"id":"e92461bb.690d58","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"","pretty":false,"x":310,"y":300,"wires":[["e2aa0f57.e308f8","40894cfd.7c239c"]]},{"id":"40894cfd.7c239c","type":"debug","z":"f6f2187d.f17ca8","name":"Signal Alert","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Alert recieved from: \" & msg.payload.id","targetType":"jsonata","statusVal":"","statusType":"auto","x":490,"y":380,"wires":[]},{"id":"8157a6fb.724df","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"","qos":"","retain":"","broker":"919c4467.b53d8","x":750,"y":300,"wires":[]},{"id":"7f25d64d.ed28f","type":"mqtt in","z":"f6f2187d.f17ca8","name":"Clear Context","topic":"lgf/project1/clear","qos":"1","datatype":"auto","broker":"919c4467.b53d8","x":130,"y":60,"wires":[["94cdb94f.0c874"]]},{"id":"4ed969de.4918f8","type":"inject","z":"f6f2187d.f17ca8","name":"add 2 neighbours","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\": 8,\"Seq #\":1,\"Uptime (sec)\":9,\"neighbours\": [3,4]}","payloadType":"str","x":140,"y":480,"wires":[[]]},{"id":"b39f529f.4f3a5","type":"inject","z":"f6f2187d.f17ca8","name":"add 1 neighbours","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\": 8,\"Seq #\":1,\"Uptime (sec)\":9,\"neighbours\": [1]}","payloadType":"str","x":150,"y":560,"wires":[[]]},{"id":"919c4467.b53d8","type":"mqtt-broker","name":"remotebroker","broker":"mqtt.neslab.it","port":"3200","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
