node red/nodered.json
[{"id":"78cbeefb.d3dca8","type":"tab","label":"Project 1 Backend","disabled":false,"info":""},{"id":"3daa9e03.37590a","type":"mqtt in","z":"78cbeefb.d3dca8","name":"","topic":"lgf/project1/neighbours","qos":"1","datatype":"auto","broker":"919c4467.b53d8","x":140,"y":280,"wires":[["218475aa.114f3a","33934d3.417d0b2"]]},{"id":"4121871d.d163e","type":"mqtt in","z":"78cbeefb.d3dca8","name":"","topic":"lgf/project1/alert","qos":"1","datatype":"auto","broker":"919c4467.b53d8","nl":false,"rap":false,"x":120,"y":420,"wires":[["722dc74a.8ea7b"]]},{"id":"33934d3.417d0b2","type":"json","z":"78cbeefb.d3dca8","name":"","property":"payload","action":"","pretty":false,"x":470,"y":140,"wires":[["2191acbb.df9cec","62a1ab65.3d5db4"]]},{"id":"30231f22.78f548","type":"function","z":"78cbeefb.d3dca8","name":"Clear Context","func":"var i;\nfor (i = 0; i < 100; i++) {\n  flow.set(\"\"+i,undefined);\n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":80,"wires":[[]]},{"id":"99609d24.74f5f8","type":"function","z":"78cbeefb.d3dca8","name":"Update Neighbours List v1","func":"var node_id = msg.payload.id;\nvar old_neighbours = flow.get(\"\" + node_id);\nvar new_neighbours = msg.payload.neighbours;\nvar neighbours;\n\nif(old_neighbours == undefined){\n    neighbours = new_neighbours;\n}else{\n    neighbours = old_neighbours.concat(new_neighbours);\n}\n\n//ensure no there are no repeated elements\nfunction onlyUnique(value, index, self) {\n  return self.indexOf(value) === index;\n}\nneighbours = neighbours.filter(onlyUnique);\n\nflow.set(\"\" + node_id, neighbours);\nmsg.payload = neighbours;\nmsg.node_id = node_id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":640,"wires":[[]]},{"id":"163cba10.d936b6","type":"inject","z":"78cbeefb.d3dca8","name":"Clear Context","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["30231f22.78f548"]]},{"id":"2ca9c8b6.253ad","type":"inject","z":"78cbeefb.d3dca8","name":"alert","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\": 4}","payloadType":"str","x":130,"y":500,"wires":[["722dc74a.8ea7b"]]},{"id":"1c0fb188.dda2ee","type":"function","z":"78cbeefb.d3dca8","name":"Send Alert Messages","func":"var node_id = msg.payload.id;\nvar neighbours = flow.get(\"\" + node_id);\n\nif(neighbours == undefined){\n    return;\n}\n\n\nfor( var i = 0; i < neighbours.length; i++){\n    var topic = \"lgf/project1/\" + neighbours[i];\n    //msg.payload.alertReciever = neighbours[i];\n    msg.topic = topic;\n    msg.payload = node_id;\n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":420,"wires":[["d5e58cbe.0be818"]]},{"id":"c93a0138.86376","type":"debug","z":"78cbeefb.d3dca8","name":"Print Neighbours","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Neighbours of \" & msg.node_id &\": \" & msg.payload","targetType":"jsonata","statusVal":"","statusType":"auto","x":1190,"y":280,"wires":[]},{"id":"722dc74a.8ea7b","type":"json","z":"78cbeefb.d3dca8","name":"","property":"payload","action":"","pretty":false,"x":330,"y":420,"wires":[["1c0fb188.dda2ee","f15b3c47.7eedf"]]},{"id":"f15b3c47.7eedf","type":"debug","z":"78cbeefb.d3dca8","name":"Signal Alert","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Alert recieved from: \" & msg.payload.id","targetType":"jsonata","statusVal":"","statusType":"auto","x":510,"y":500,"wires":[]},{"id":"d5e58cbe.0be818","type":"mqtt out","z":"78cbeefb.d3dca8","name":"","topic":"","qos":"","retain":"","broker":"919c4467.b53d8","x":770,"y":420,"wires":[]},{"id":"f1352bb.2e5bfd8","type":"mqtt in","z":"78cbeefb.d3dca8","name":"Clear Context","topic":"lgf/project1/clear","qos":"1","datatype":"auto","broker":"919c4467.b53d8","x":130,"y":60,"wires":[["30231f22.78f548"]]},{"id":"d99713a3.a119c8","type":"inject","z":"78cbeefb.d3dca8","name":"add 2 neighbours","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\": 8,\"Seq #\":1,\"Uptime (sec)\":9,\"neighbours\": [3,4]}","payloadType":"str","x":200,"y":720,"wires":[[]]},{"id":"65020392.3c0fbc","type":"inject","z":"78cbeefb.d3dca8","name":"add 1 neighbours","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\": 8,\"Seq #\":1,\"Uptime (sec)\":9,\"neighbours\": [1]}","payloadType":"str","x":210,"y":800,"wires":[[]]},{"id":"88c4eefc.1e3cd8","type":"debug","z":"78cbeefb.d3dca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":340,"wires":[]},{"id":"2191acbb.df9cec","type":"function","z":"78cbeefb.d3dca8","name":"Update Neighbours List","func":"var node_id = msg.payload.id;\n\n//ensure no there are no repeated elements\nfunction onlyUnique(value, index, self) {\n  return self.indexOf(value) === index;\n}\n\nfunction get_neighbours(id,new_neighbours){\n    var old_neighbours = flow.get(\"\" + id);\n    var neighbours;\n    var len_changed = true;\n    \n    //var new_neighbours = msg.payload.neighbours;\n    if(old_neighbours == undefined){\n        neighbours = new_neighbours;\n    }else{\n        neighbours = old_neighbours.concat(new_neighbours);\n    }\n    neighbours = neighbours.filter(onlyUnique);\n    return neighbours;\n}\n\n//add the new neighbours to node id\nnew_neighbours = msg.payload.neighbours;\nneighbours = get_neighbours(node_id,new_neighbours);\n//send message only if neighbours were new\nflow.set(\"\" + node_id, neighbours);\nmsg.payload = neighbours;\nmsg.node_id = node_id;\nnode.send(msg);\n\n//for each of the new neighbours add node id as a neighbour\nfor(var i = 0; i < new_neighbours.length; i++){\n    var array = [];\n    array[0] = node_id;\n    neighbours = get_neighbours(new_neighbours[i],array);\n    flow.set(\"\" + new_neighbours[i], neighbours);\n    msg.payload = neighbours;\n    msg.node_id = new_neighbours[i];\n    node.send(msg);\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":140,"wires":[["c93a0138.86376"]]},{"id":"455fcfcd.c3558","type":"inject","z":"78cbeefb.d3dca8","name":"add 2 neighbours v2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\": 8,\"Seq #\":1,\"Uptime (sec)\":9,\"neighbours\": [3,4]}","payloadType":"str","x":210,"y":880,"wires":[[]]},{"id":"218475aa.114f3a","type":"function","z":"78cbeefb.d3dca8","name":"","func":"var payload = msg.payload.toString('utf8');\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":340,"wires":[["88c4eefc.1e3cd8"]]},{"id":"62a1ab65.3d5db4","type":"function","z":"78cbeefb.d3dca8","name":"Alert whith neighbours","func":"var alert = msg.payload.alert; \nif(alert != 0){\n   msg.payload.id = alert;\n   node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":220,"wires":[["1c0fb188.dda2ee"]]},{"id":"919c4467.b53d8","type":"mqtt-broker","name":"remotebroker","broker":"mqtt.neslab.it","port":"3200","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]